<?xml version='1.0' encoding='utf-8'?>
<widget id="com.elecsis.fcmovil" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FutbolCracks</name>
    <description>
        FutbolCracks, diviértete con el deporte rey.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Elecsis S.A.S
    </author>
    <icon src="icon.png" />
    <gap:splash src="splash.png"/>

    <!-- Preferencias -->
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.6.3" /> <!-- all: current version of PhoneGap -->
    <preference name="orientation" value="default" /> <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce" value="true" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" /> 
    <preference name="ios-statusbarstyle" value="black-opaque" /> 
    <preference name="detect-data-types" value="true" /> 
    <preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="false" /> 
    <preference name="auto-hide-splash-screen" value="true" /> 
    <preference name="disable-cursor" value="true" /> <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion" value="17" /> 
    <preference name="android-installLocation" value="auto" />

    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.file" />

    <!--app iconos -->
    <!-- <icon src="icon.png" /> -->
    <!-- <icon src="www/img/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="www/img/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="www/img/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="www/img/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="www/img/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="www/img/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="www/img/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="www/img/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" /> -->

    <!-- splash screen -->
    <!-- <gap:splash src="splash.png" /> -->
    <!-- <gap:splash src="www/img/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="www/img/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="www/img/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="www/img/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="www/img/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="www/img/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="www/img/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="www/img/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="www/img/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768" /> -->

    <content src="index.html" />
    <access origin="*" />
</widget>
