<?xml version='1.0' encoding='utf-8'?>
<widget id="com.elecsis.fcmovil" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>FutbolCracks</name>
	<description>
		Aplicación Móvil FutbolCracks.
	</description>
	<author email="info@elecsis.com.co" href="http://www.fcracks.com">
		Elecsis S.A.S
	</author>
	<preference name="permissions" value="none"/>
	<preference name="BackupWebStorage" value="local"/>
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<preference name="webviewbounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="true" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-installLocation" value="auto" />
	<feature name="LocalStorage">
		<param name="ios-package" value="CDVLocalStorage"/>
	</feature>
    
    <gap:plugin name="org.apache.cordova.statusbar"/>
	
    <icon src="icon.png" />
	<platform name="ios">
	    <icon src="res/ios/appicon.png" width="57" height="57"/>
	    <icon src="res/ios/appicon@2x.png" width="114" height="114" />
	    <icon src="res/ios/appicon-60.png" width="60" height="60" />
	    <icon src="res/ios/appicon-60@2x.png" width="120" height="120" />
	    <icon src="res/ios/appicon-60@3x.png" width="180" height="180" />
	    <icon src="res/ios/appicon-72.png" width="72" height="72" />
	    <icon src="res/ios/appicon-72@2x.png" width="144" height="144" />
	    <icon src="res/ios/appicon-76.png" width="76" height="76" />
	    <icon src="res/ios/appicon-76@2x.png" width="152" height="152" />
	    <icon src="res/ios/appicon-Small.png" width="29" height="29" />
	    <icon src="res/ios/appicon-Small@2x.png" width="58" height="58" />
	    <icon src="res/ios/appicon-Small@3x.png" width="87" height="87" />
	    <icon src="res/ios/appicon-Small-40.png" width="40" height="40" />
	    <icon src="res/ios/appicon-Small-40@2x.png" width="80" height="80" />
	    <icon src="res/ios/appicon-Small-50.png" width="50" height="50" />
	    <icon src="res/ios/appicon-Small-50@2x.png" width="100" height="100" />
	</platform>

	<icon src="res/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="res/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
	<icon src="res/android/xxxhdpi.png" gap:platform="android" gap:density="xxxhdpi" />

    <platform name="ios">
	    <splash src="res/ios/Default.png" width="320" height="480" />
	    <splash src="res/ios/Default@2x.png" width="640" height="960" />
	    <splash src="res/ios/Default-portrait.png" width="768" height="1024" />
	    <splash src="res/ios/Default-portrait@2x.png" width="1536" height="2048" />
	    <splash src="res/ios/Default-portrait-736h@3x.png" width="1242" height="2208" />
	    <splash src="res/ios/Default-568h@2x.png" width="640" height="1136" />
	    <splash src="res/ios/Default-667h@2x.png" width="750" height="1334" />
	    <splash src="res/ios/Default-Landscape.png" width="1024" height="768" />
	    <splash src="res/ios/Default-Landscape-736h@3x.png" width="2208" height="1242" />
	    <splash src="res/ios/Default-Landscape@2x.png" width="2048" height="1536" />
	</platform>

    <gap:splash src="splash.png" />
    <!-- <gap:splash src="res/android/splash-port-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
    <gap:splash src="res/android/splash-port-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
    <gap:splash src="res/android/splash-port-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
    <gap:splash src="res/android/splash-port-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <gap:splash src="res/android/splash-port-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi"/>
    <gap:splash src="res/android/splash-port-xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi"/> -->

<access origin="*" />
</widget>