.centrar {
    text-align: center;
}

.color-texto {
	color: gray;
}

li.thumb.big:not(.selectable) {
	padding-bottom: .4em
}
label.margen-select{
	margin-left: 5px;
	margin-right: 5px;
}

li > a.icono {
	float: right;
	color: gray;
	padding-top: 4px;
}

article#cancha h2{
	padding: 8.53333px;
}

article header{
	color: #FFF;
	background-color: #155474;
}

.registrar {
	font-size: 1.1em;
	color: #003c5a;
	text-decoration: underline;
}

.icon.off {
	font-size: 1.6em;
}

span.icon.plus {
	color: #E5E5E5;
}

.separado {
	margin-left: 5%;
}
/*header, nav#options{
	margin-top: 20px; inactivo: #A1A6A8; activo: #003c5a;
}*/
.no-margin {
	margin: 0px;
}
.derecha {
	position: absolute;
	right: 2.2em;
	top: 16%;
	font-size: 1.1em;
	color: #808080;
	font-weight: 400;
}

article#listado-equipos div.interno {
	/*color: #FFF;*/
	position: absolute;
	width: 100%;
	z-index: 1;
}

footer > nav > a{
	font-size: 0.8em;
}

footer > nav > a > p img {
	height: 25px;
}

.list li.thumb > img {
	padding: 5px;
	border: solid 1px;
	border-color: #DCDCDC;
}

.img-perfil {
	height: 90px;
	width: auto;
}

#contenido small{
	font-size: 0.8em;
}

#contenido span {
	margin-right: 5px;
}
