.centrar {
    text-align: center;
}

label.margen-select{
	margin-left: 5px;
	margin-right: 5px;
}

li > a.icono {
	float: right;
	color: gray;
	padding-top: 4px;
}

.angle-left{
	font-size: 12px;
}
/*header, nav#options{
	margin-top: 20px; inactivo: #A1A6A8; activo: #003c5a;
}*/

.derecha{
	position: absolute;
	right: 3.8em;
	font-size: 11px;
	color: #808080;
	font-weight: 400;
}
