.centrar {
    text-align: center;
}

article {
	color: gray;
}

label.margen-select{
	margin-left: 5px;
	margin-right: 5px;
}

li > a.icono {
	float: right;
	color: gray;
	padding-top: 4px;
}

.registrar {
	font-size: 1.1em;
	color: #003c5a;
	text-decoration: underline;
}

.icon.off {
	font-size: 1.6em;
}

.separado {
	margin-left: 5%;
}
/*header, nav#options{
	margin-top: 20px; inactivo: #A1A6A8; activo: #003c5a;
}*/
.no-margin {
	margin: 0px;
}
.derecha {
	position: absolute;
	right: 3.8em;
	font-size: 12px;
	color: #808080;
	font-weight: 400;
}
